<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html {
        margin: 2em 1em 1em 2em;
        font-size: larger;
      }
      .body {
        margin: 2em 1em 1em 2em;
        font-family: "Poppins", sans-serif;
        background-color: #3f4e4f;
        width: 100vw;
        color: #a27b5c;
      }
      h2 {
        background-color: #3f4e4f;
      }
      .text-center {
        background-color: #3f4e4f;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="body">
    <h2 class="text-center">Hey!</h2>
    <div class="text-center">This is your reminder for {DESCRIPTION}</div>
    <div class="text-center">{Randomized goodbye}</div>
    <br /><br /><br />
    <div class="text-center" style="font-size: medium">
      You can adjust these emails in the user settings at<br /><a
        style="color: #a27b5c"
        href="https://notesapp.net"
        >notesapp.net</a
      >
    </div>
  </body>
</html>
